.helloworld {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the gap between items */
  border: 1px solid #ccc;
  padding: 20px;
  width: 1000px; /* Adjust the width as needed */
  margin: 0 0; /* Center the container horizontally */
}

/* Style each product block */
.boxContainer > div {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the product name */
.boxContainer > div > div:nth-child(1) {
  font-weight: bold;
}
p{color:red;}
